


<section id="products-part" class="pt-70 pb-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center pb-15">
                        <h2>Our Products</h2>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <p>Nunc molestie mi nunc, nec accumsan libero dignissim sit amet. Fusce sit amet tincidunt metus. Nunc eu risus  suscipit massa dapibus blandit. Vivamus ac commodo eros.</p>
                    </div> <!-- section-title -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="singel-products text-center mt-30">
                        <div class="products-image">
                            <img src="~/images/product/p-1.jpg" alt="Products">
                            <div class="products-cart">
                                <a href="#"><i class="fa fa-shopping-cart"></i>Add to cart </a>
                            </div>
                        </div>
                        <div class="products-contant">
                            <span>$259 <del>$215</del></span>
                            <a href="#"><h6>Mineral water big bottle</h6></a>
                            <p>Mauris sed massa eu nulla mollis vehicula quis id tortor.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="singel-products text-center mt-30">
                        <div class="products-image">
                            <img src="~/images/product/p-2.jpg" alt="Products">
                            <div class="products-cart">
                                <a href="#"><i class="fa fa-shopping-cart"></i>Add to cart </a>
                            </div>
                            <div class="new-sele">
                                <a href="#">New</a>
                            </div>
                        </div>
                        <div class="products-contant">
                            <span>$259 <del>$215</del></span>
                            <a href="#"><h6>Mineral water big bottle</h6></a>
                            <p>Mauris sed massa eu nulla mollis vehicula quis id tortor.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="singel-products text-center mt-30">
                        <div class="products-image">
                            <img src="~/images/product/p-3.jpg" alt="Products">
                            <div class="products-cart">
                                <a href="#"><i class="fa fa-shopping-cart"></i>Add to cart </a>
                            </div>
                        </div>
                        <div class="products-contant">
                            <span>$259 <del>$215</del></span>
                            <a href="#"><h6>Mineral water big bottle</h6></a>
                            <p>Mauris sed massa eu nulla mollis vehicula quis id tortor.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="singel-products text-center mt-30">
                        <div class="products-image">
                            <img src="~/images/product/p-2.jpg" alt="Products">
                            <div class="products-cart">
                                <a href="#"><i class="fa fa-shopping-cart"></i>Add to cart </a>
                            </div>
                            <div class="new-sele">
                                <a href="#">Sele</a>
                            </div>
                        </div>
                        <div class="products-contant">
                            <span>$259 <del>$215</del></span>
                            <a href="#"><h6>Mineral water big bottle</h6></a>
                            <p>Mauris sed massa eu nulla mollis vehicula quis id tortor.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="singel-products text-center mt-30">
                        <div class="products-image">
                            <img src="~/images/product/p-1.jpg" alt="Products">
                            <div class="products-cart">
                                <a href="#"><i class="fa fa-shopping-cart"></i>Add to cart </a>
                            </div>
                            <div class="new-sele">
                                <a href="#">New</a>
                            </div>
                        </div>
                        <div class="products-contant">
                            <span>$259 <del>$215</del></span>
                            <a href="#"><h6>Mineral water big bottle</h6></a>
                            <p>Mauris sed massa eu nulla mollis vehicula quis id tortor.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="singel-products text-center mt-30">
                        <div class="products-image">
                            <img src="~/images/product/p-4.jpg" alt="Products">
                            <div class="products-cart">
                                <a href="#"><i class="fa fa-shopping-cart"></i>Add to cart </a>
                            </div>
                        </div>
                        <div class="products-contant">
                            <span>$259 <del>$215</del></span>
                            <a href="#"><h6>Mineral water big bottle</h6></a>
                            <p>Mauris sed massa eu nulla mollis vehicula quis id tortor.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="singel-products text-center mt-30">
                        <div class="products-image">
                            <img src="~/images/product/p-2.jpg" alt="Products">
                            <div class="products-cart">
                                <a href="#"><i class="fa fa-shopping-cart"></i>Add to cart </a>
                            </div>
                            <div class="new-sele">
                                <a href="#">Sele</a>
                            </div>
                        </div>
                        <div class="products-contant">
                            <span>$259 <del>$215</del></span>
                            <a href="#"><h6>Mineral water big bottle</h6></a>
                            <p>Mauris sed massa eu nulla mollis vehicula quis id tortor.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="singel-products text-center mt-30">
                        <div class="products-image">
                            <img src="~/images/product/p-1.jpg" alt="Products">
                            <div class="products-cart">
                                <a href="#"><i class="fa fa-shopping-cart"></i>Add to cart </a>
                            </div>
                        </div>
                        <div class="products-contant">
                            <span>$259 <del>$215</del></span>
                            <a href="#"><h6>Mineral water big bottle</h6></a>
                            <p>Mauris sed massa eu nulla mollis vehicula quis id tortor.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>