@page "/confirmEmail"
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<div class ="container">
<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
</div>