@page "/login"
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<section id="page-banner" class="pt-200 pb-150 bg_cover"
    style="background-image: url('  @Url.Content("~/images/page-banner.jpg")   ');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-content">
                    <h3>@ViewData["Title"]</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="login-part" class="pt-85 pb-80">
    <div class="container">
        <div class="row no-gutters justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-7 col-sm-10">
                <div class="login-form text-center">
                    <div class="logo mb-50">
                        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo-footer.png" alt="Logo"></a>
                    </div>
                    <form id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="singel-form">
                            <input type="email" asp-for="Input.Email" class="form-control" autocomplete="username"
                                aria-required="true" placeholder="Enter your email....">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="singel-form">
                            <input type="password" asp-for="Input.Password" class="form-control"
                                autocomplete="current-password" aria-required="true"
                                placeholder="Enter your Password....">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="singel-form">
                            <p>or</p>
                            <ul class="social-loogin">
                                <li><a href="#"><i class="fa fa-facebook-f"></i>Facebook</a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i>Google</a></li>
                            </ul>
                        </div>
                        <div class="singel-form pt-30">
                            <button type="submit" id="login-submit">Login</button>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </div>
                        <div class="singel-form pt-25">
                            <ul class="remember">
                                <li>
                                    <label asp-for="Input.RememberMe" type="checkbox" id="checkbox">
                                        <input type="checkbox" asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </li>
                                <li>
                                    <p>
                                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
