@page "/Logout"
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<section id="page-banner" class="pt-200 pb-150 bg_cover"
    style="background-image: url('  @Url.Content("~/images/page-banner.jpg")   ');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-content">
                    <h3>@ViewData["Title"]</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<header>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
