@page "/RegisterConfirmation"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<section id="page-banner" class="pt-200 pb-150 bg_cover"
    style="background-image: url('  @Url.Content("~/images/page-banner.jpg")   ');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-content">
                    <h3>@ViewData["Title"]</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<div class ="container">
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

</div>